{% assign phone_number = site.contact.phone | replace: ' ', '' %}

<h2 id="contact">Parlons ensemble</h2>
<div class="row">
  <div class="col">
    <p>Vous pouvez contacter directement <a href="{{ site.practitioners_url }}">le thérapeute de votre choix</a> ou nous contacter en direct pour être orienté vers l'accompagnement le plus adapté.</p>
    <p>Nous serons heureux de vous répondre et de vous aider à trouver la bonne porte d'entrée selon votre besoin.</p>
  </div>
</div>
<div class="row">
  <div class="col m--u-1/2 phone">
    <div class="row">
      <div class="col u-1/4 text-center" aria-hidden="true">
        <a tabindex="-1" href="tel:{{ phone_number }}" data-phone="{{ phone_number }}" title="Par téléphone" class="button-icon">
          <svg class="icon" aria-hidden="true">
            <title>Téléphone, SMS ou Whatsapp</title>
            <use xlink:href="#call_24dp"></use>
          </svg>
        </a>
      </div>
      <div class="col u-3/4">
        <p>Par téléphone:</p>
        <p>
          <a href="tel:{{ phone_number }}" data-phone="{{ phone_number }}" title="Par téléphone" class="contact_tel"><strong>{{ phone_number }}</strong></a><br>
          <small>WhatsApp ou SMS</small>
        </p>
      </div>
    </div>
  </div>
  <div class="col m--u-1/2 email">
    <div class="row">
      <div class="col u-1/4 text-center" aria-hidden="true">
        <a tabindex="-1" href="mailto:{{ site.contact.email }}" title="mailto:{{ site.contact.email }}" class="button-icon">
          <svg class="icon" aria-hidden="true">
            <title>Email</title>
            <use xlink:href="#email_24dp"></use>
          </svg>
        </a>
      </div>
      <div class="col u-3/4">
        <p>Par email:</p>
        <p>
          <a href="mailto:{{ site.contact.email }}" title="mailto:{{ site.contact.email }}" class="contact_mailto"><strong>{{ site.contact.email }}</strong></a>
        </p>
      </div>
    </div>
  </div>
</div>

<hr>

<h2 id="map">Un espace dédié à la santé</h2>
<div class="row">
  <div class="col m--u-1/2">
    <address><strong>{{ site.short_title }} {{ site.baseline }}</strong><br>{{ site.address.full }}</address>
    <p>
      Le centre thérapeutique est situé à
      <strong>Paudex</strong>, à côté de <strong>Lutry</strong> et à seulement
      <strong>8 minutes de Lausanne</strong>, dans un espace calme et
      accueillant dédié à la santé et au bien-être.
    </p>
    <p>
      Ce lieu a été pensé pour offrir un environnement propice
      à l'écoute, au soin et à la rencontre entre les différents
      thérapeutes et les personnes accompagnées.
    </p>
  </div>
  <div class="col m--u-1/2 text-center">
    <div class="map-iframe map--paudex observable">
      <iframe title="{{ site.short_title }} {{ site.baseline }}, centre thérapeutique à Paudex près de Lausanne" data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.2806355716534!2d6.6730355!3d46.5065163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478c2f5a18faea69%3A0x285ab0584e90707!2zTk9WQSBTYW50w6kgSW50w6lncsOpZQ!5e1!3m2!1sen!2sch!4v1777240137154!5m2!1sen!2sch" width="285" height="200" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>

<hr>

