<footer class="site-footer">
  <div class="row">
    <div class="col m--u-1/2 l--u-2/5">
      <p class="text-center">
        <svg class="logo icon logo_full" width="512px" height="512px">
      <use xlink:href="#logo_full"></use>
    </svg>
      </p>
      
    </div>

    <div class="col m--u-1/2 l--u-1/5">
      <h3>Le centre</h3>
      <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="/contact/">Accès & contact</a></li>
      </ul>
    </div>

    <div class="col m--u-1/2 l--u-1/5">
      <h3>Les thérapeutes</h3>
      {% include practitioners_list.html %}
    </div>

    <div class="col m--u-1/2 l--u-1/5">
      <h3>Contact</h3>
      
      <ul>
        <li><a href="/contact/">
        Route du Simplon 16<br>
        1094 Paudex
      </a></li>
      <li><a href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a></li>
        <li><a href="tel:{{ site.contact.phone | replace ' ', '' }}">{{ site.contact.phone }}</a></li>
      </ul>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <p class="small">
        Certains accompagnements proposés au centre peuvent être reconnus selon les accréditations des thérapeutes.
      </p>
    </div>
  </div>
  <div class="row text-center">
    <div class="col l--u-1/4"></div>
    <div class="col s--u-1/2 l--u-1/4">
        <a href="//www.asca.ch/"><svg class="logo icon">
          <use xlink:href="#asca"></use>
        </svg></a>
    </div>
    <div class="col s--u-1/2 l--u-1/4">
        <a href="//www.rme.ch/fr"><svg class="logo icon">
          <use xlink:href="#rme"></use>
        </svg></a>
    </div>
    <div class="col l--u-1/4"></div>
  </div>

  <div class="text-center color-scheme-toggler">
    <p><small>&copy; {{ site.title }} {{ site.baseline }} | {{ site.time | date: '%Y' }} · Hosted on <a href="{{ site.github.repository_url }}">GitHub</a></small>
	</p>
  </div>
</footer>