{% assign headline = site.headline %}
{% assign cta_url = site.cta.url %}
{% assign cta_text = site.cta.text %}
{% assign slider_class = "slider partial-height" %}

{% if page.collection == "practitioners" or page.url == "/contact/" or page.permalink == "/404.html" %}
  {% assign headline = page.title %}
  {% assign cta_url = "#contact" %}
  {% if page.permalink == "/404.html" %}
    {% assign cta_text = "Prendre rendez-vous quand même" %}
  {% else %}
    {% assign cta_text = "Prendre rendez-vous" %}
  {% endif %}
  {% assign slider_class = "slider" %}
{% endif %}

<div role="banner" id="banner" class="{{ slider_class }}">
    <div class="inner no-filter">
        <header class="non-bordered">
            <h1 class="headline">{{ headline }}</h1>
            <p>
                <a href="{{ cta_url }}" class="button primary">{{ cta_text }}</a>
            </p>
        </header>
    </div>
</div>
