{% if page.collection == "practitioners" or page.url == "/contact/" %}
<div id="banner" class="slider">
    <div class="inner no-filter">
        <header class="non-bordered">
            <p class="headline">{{ page.title }}</p>
            <p>
                <a href="#contact" class="button primary">Prendre rendez-vous</a>
            </p>
        </header>
    </div>
</div>
{% else %}
<div id="banner" class="slider full-height">
    <div class="inner no-filter">
        <header class="non-bordered">
            <p class="headline">{{ site.headline }}</p>
            <p>
                <a href="{{ site.cta.url }}" class="button primary">{{ site.cta.text }}</a>
            </p>
        </header>
    </div>
</div>
{% endif %}