{% assign is_homepage = false %}
{% if page.url == "/" or page.url == "" %}
  {% assign is_homepage = true %}
{% endif %}

{% assign inline_contact = false %}
{% if page.collection == "practitioners" or page.url == "/contact/" or page.url == "/404.html" %}
  {% assign inline_contact = true %}
{% endif %}

{% if is_homepage == true %}
  {% assign headline = site.headline %}
  {% assign cta_url = site.cta.url %}
  {% assign cta_text = site.cta.text %}
  {% assign slider_class = "slider partial-height" %}
{% else %}
  {% assign headline = page.title %}

  {% if inline_contact == true %}
    {% assign cta_url = "#contact" %}
  {% else %}
    {% assign cta_url = "/contact" %}
  {% endif %}

  {% if page.url == "/404.html" %}
    {% assign cta_text = "Prendre rendez-vous quand même" %}
  {% else %}
    {% assign cta_text = "Prendre rendez-vous" %}
  {% endif %}

  {% assign slider_class = "slider" %}
{% endif %}

<div role="banner" id="banner" class="{{ slider_class }}">
    <div class="inner no-filter">
        <header class="non-bordered">
            <h1 class="headline">{{ headline }}</h1>
            <p>
                <a href="{{ cta_url }}" class="button primary">{{ cta_text }}</a>
            </p>
        </header>
    </div>
</div>