<nav>
  <span class="title">
    <a href="#home">
      <svg class="logo icon">
        <use xlink:href="#logo_24dp"></use>
      </svg>
      Nova <span>Santé Integrée</span>
    </a>
  </span>
  <ul>
    <li class="current"><a href="#home">Home</a></li>
    <li class="submenu">
      <span>Présentation</span>
      <ul>
        <li><a href="/news">News</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </li>
    <li class="submenu">
      <span>Thérapeutes</span>
      <ul>
        <li><a href="/sarah">Sarah Dionne</a></li>
        <li><a href="/alex">Alexandre Kaspar</a></li>
        <li><a href="/severine">Séverine Corthay</a></li>
      </ul>
    </li>
    <li><a class="primary" href="/contact">Contact</a></li>
    <li class="hidden-m"><span class="toggle">
        <input id="colorSchemeToggler" type="checkbox" />
        <label></label>
      </span></li>
  </ul>
</nav>
