## Les thérapeutes actuellement au centre

{% assign ordered = site.practitioners | where_exp: "p", "p.order" | sort: "order" %}
{% assign unordered = site.practitioners | where: "order", empty | sort: "title" %}
{% assign practitioners = ordered | concat: unordered %}

{% assign practitioners = site.practitioners | sort: "order" %}

<div class="row">
{% for p in practitioners %}
    <div class="col m--u-1/2">
        <h3>{{ p.title }}</h3>
        <p><strong>{{ p.function }}</strong></p>
        <p>📧 <a href="mailto:{{ p.email }}">{{ p.email }}</a><br>
        📞 {{ p.phone }}
        {% if p.instagram %}<br>Instagram : <a href="https://www.instagram.com/{{ p.instagram }}">@{{ p.instagram }}</a>{% endif %}
        </p>
    </div>
{% endfor %}
</div>