## Les thérapeutes actuellement au centre {#practitioners}

{% assign practitioners = site.practitioners | sort: "order", "last" %}
{% assign others = practitioners | where_exp: "p", "p.url != page.url" %}

{% for p in practitioners %}
  {% if forloop.index0 == 0 %}<div class="row">{% endif %}
    <div class="col xxxl--u-1/5 xxl--u-1/4 xl--u-1/3 s--u-1/2">
      <article class="card">
          <a class="card__link" href="{{ p.url }}" aria-label="Voir le profil de {{ p.title }}"></a>
          <div class="card__media">
            <img src="{{ p.image }}" alt="{{ p.title }}">
          </div>
          <div class="card__body">
            <h3 class="card__title">
              <a href="{{ p.url }}">{{ p.title }}</a>
            </h3>
            {% if p.function %}
            <p class="card__role">{{ p.function }}</p>
            {% endif %}
          </div>
          <div class="card__actions">
            <ul>
                {% capture action_title %}Prendre rendez-vous avec {{ p.title }}{% endcapture %}
                {% include card_action.html
                  href=p.urls.booking
                  title=action_title
                  icon="calendar_clock_24dp"
                  is_list_item=true
                  display_trigger=p.urls.booking
                %}

                {% capture action_title %}Prendre rendez-vous avec {{ p.title }}{% endcapture %}
                {% include card_action.html
                  href=p.urls.widget
                  title=action_title
                  icon="calendar_clock_24dp"
                  is_list_item=true
                  is_modal=true
                  display_trigger=p.urls.widget
                %}

                {% capture action_title %}Contacter {{ p.title }} par email à {{ p.email }}{% endcapture %}
                {% capture action_link %}mailto:{{ p.email }}{% endcapture %}
                {% include card_action.html
                  href=action_link
                  title=action_title
                  icon="email_24dp"
                  is_list_item=true
                  display_trigger=p.email
                %}

                {% capture action_title %}Contacter {{ p.title }} par télépnone au {{ p.phone }}{% endcapture %}
                {% capture action_link %}tel:{{ p.phone | replace: ' ', '' }}{% endcapture %}
                {% include card_action.html
                  href=action_link
                  title=action_title
                  icon="call_24dp"
                  is_list_item=true
                  display_trigger=p.phone
                %}

                {% capture action_title %}Voir le profil Instagram @{{ p.instagram }}{% endcapture %}
                {% capture action_link %}//www.instagram.com/{{ p.instagram }}{% endcapture %}
                {% include card_action.html
                  href=action_link
                  title=action_title
                  icon="instagram_24dp"
                  is_list_item=true
                  display_trigger=p.instagram
                %}
            </ul>
          </div>
          <div class="card__actions">
            <a class="button" href="{{ p.url }}">Voir le profil</a>
          </div>
      </article>
    </div>
  {% if forloop.last %}</div>{% endif %}
{% endfor %}
