<ul>
  {% for item in include.nav %}
    {% assign classnames = "" %}
    {% if item.subnav %}
        {% assign classnames = "submenu" %}
    {% endif %}
    {% if page.url == item.url %}
        {% if classnames %}
            {% assign classnames = classnames | append: ", " %}
        {% endif %}
        {% assign classnames = classnames | append: "current" %}
    {% endif %}
    <li{% if classnames %} class="{{ classnames | split: ', ' | join: ' ' }}"{% endif %}>
        {% assign tag_name = 'span' %}
        {% if item.url %}
            {% assign tag_name = 'a' %}
        {% endif %}
        <{{ tag_name }}{% if item.url %} href="{{ item.url }}"{% endif %}{% if item.class %} class="{{ item.class }}"{% endif %}>{{ item.title }}</{{ tag_name }}>
        {% if item.subnav %}
            {% include recursive_nav.html nav=item.subnav %}
        {% endif %}
    </li>
  {% endfor %}
</ul>