<!DOCTYPE html>
<html lang="fr" >
{% include head.html %}
<body>
{% include icons.html %}
<dialog id="phone-contact" onClick="this.close()">
  <form method="dialog" onClick="event.stopPropagation()">
    <p>Prendre contact:</p>
    <ul class="buttons_list">
      <li>
        <a class="button" href="sms:{{ page.phone | remove: ' ' }}" title="sms:{{ page.phone | remove: ' ' }}">
          <svg class="icon">
            <use xlink:href="#forum_24dp"></use>
          </svg> SMS</a>
      </li>
      <li>
        <a class="button" href="//wa.me/{{ page.phone | remove: ' ' | remove: '+' }}" title="Whatsapp">
          <svg class="icon">
            <use xlink:href="#whatsapp_24dp"></use>
          </svg> WhatsApp</a>
      </li>
    </ul>
    <div>
      <button class="button hidden" id="cancel" type="reset" onClick="document.getElementById('phone-contact').close()">Annuler</button>
    </div>
  </form>
</dialog>
<div class="container banner-intersecting inverted-top">
  <input id="toggler" type="checkbox" />
  {% include navigation.html %}
  <div class="wrapper">
    <div id="home"></div>
    <label class="toggler-wrapper" for="toggler"></label>
    <div class="mobile-navbar">
      <label class="toggler inverted" for="toggler">
        <span class="navicon"></span>
        <svg class="logo icon">
          <use xlink:href="#logo_24dp"></use>
        </svg>
      </label>
      <span class="title hide-on-top"><a href="#home">{{ site.title }} <span>{{ site.baseline }}</span></a></span>
    </div>
    <div class="content">
      {% include homepage_banner.html %}
      <div id="sections" class="sections">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </div>
</div>
<script src="//cdn.polyfill.io/v3/polyfill.min.js"></script>
<script>
  if('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}');
  };
</script>
<script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>
</html>
