---
layout: default
---

{{ content}}

---

<h2 id="contact">Contacter {{ page.title }}</h2>
<p><strong>{{ page.function }}</strong>
{% if page.instagram %}<br>Instagram : <a href="https://www.instagram.com/{{ page.instagram }}">@{{ page.instagram }}</a>{% endif %}
</p>
<div class="row">
  <div class="col m--u-1/2 phone">
    <div class="row">
      <div class="col u-1/4 text-center">
        <a href="javascript:document.getElementById('phone-contact').showModal()" title="Par téléphone" class="button-icon">
          <svg class="icon">
            <title>Téléphone, SMS ou Whatsapp</title>
            <use xlink:href="#call_24dp"></use>
          </svg>
        </a>
      </div>
      <div class="col u-3/4">
        <p>Par téléphone:</p>
        <p>
          <a href="javascript:document.getElementById('phone-contact').showModal()" title="Par téléphone" class="contact_tel"><strong>{{ page.phone }}</strong></a><br>
          <small>WhatsApp ou SMS</small>
        </p>
      </div>
    </div>
  </div>
  <div class="col m--u-1/2 email">
    <div class="row">
      <div class="col u-1/4 text-center">
        <a href="mailto:{{ site.contact.email }}" title="mailto:{{ site.contact.email }}" class="button-icon">
          <svg class="icon">
            <title>Email</title>
            <use xlink:href="#email_24dp"></use>
          </svg>
        </a>
      </div>
      <div class="col u-3/4">
        <p>Par email:</p>
        <p>
          <a href="mailto:{{ page.email }}" title="mailto:{{ page.email }}" class="contact_mailto"><strong>{{ page.email }}</strong></a>
        </p>
      </div>
    </div>
  </div>
</div>
{% if page.urls.vcf %}
<div class="row">
  <div class="col text-center">
    <a href="{{ page.urls.vcf }}" class="button primary contact_download_vCard">
      <svg class="icon">
        <use xlink:href="#download_24dp"></use>
      </svg> Enregistrer le contact
    </a>
  </div>
</div>
{% endif %}
{% if page.urls.booking %}
<div class="row">
  <div class="col text-center">
    <a href="{{ page.urls.booking }}" class="button secondary">
      <svg class="icon">
        <use xlink:href="#calendar_clock_24dp"></use>
      </svg> Prendre rendez-vous
    </a>
  </div>
</div>
{% endif %}

{% assign practitioners = site.practitioners | sort: "order", "last" %}
{% assign urls = practitioners | map: "name" %}
{% assign idx = nil %}

{% for u in urls %}
  {% if u == page.url %}
    {% assign idx = forloop.index0 %}
  {% endif %}
{% endfor %}

{{ practitioners }}

{% if idx != nil %}
  {% assign prevIndex = idx | minus: 1 %}
  {% assign nextIndex = idx | plus: 1 %}

  <div class="row practitioners-nav">
    <div class="col">
      <div class="practitioners-nav__inner">
        {% if prevIndex >= 0 %}
          {% assign prev = practitioners[prevIndex] %}
          <a class="practitioners-nav__link" href="{{ prev.url }}">← {{ prev.name }}</a>
        {% endif %}

        {% if nextIndex < practitioners.size %}
          {% assign next = practitioners[nextIndex] %}
          <a class="practitioners-nav__link" href="{{ next.url }}">{{ next.name }} →</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}