---
layout: default
---

{% assign page_content = content | strip %}
{% assign phone_number = page.phone | replace: ' ', '' %}

{% if page_content == "" %}

<h2 id="presentation">Présentation</h2>
{% if page.urls.image %}
<p><img src="{{ page.urls.image }}" alt="{{ page.title }}"></p>
{% endif %}
<p><strong>{{ page.function }}</strong></p>
<p>
{{ page.title }} reçoit au sein de <strong>NOVA Santé Intégrée</strong> à Paudex.
</p>
<p>
Sa présentation détaillée sera bientôt disponible.
</p>
<p class="margin-top"><a class="button primary" href="#contact">Prendre contact →</a></p>

{% else %}

{{ content }}

{% endif %}

<hr />

<h2 id="contact">Prendre contact</h2>
<p>Vous pouvez contacter directement <strong>{{ page.title }}</strong> pour toute question ou prise de rendez-vous.</p>
{% if page.instagram %}<p>Instagram : <a href="https://www.instagram.com/{{ page.instagram }}">@{{ page.instagram }}</a></p>{% endif %}

<div class="row">
  <div class="col m--u-1/2 phone">
    <div class="row">
      <div class="col u-1/4 text-center">
        <a href="tel:{{ phone_number }}" data-phone="{{ phone_number }}" title="Par téléphone" class="button-icon">
          <svg class="icon">
            <use xlink:href="#call_24dp"></use>
          </svg>
        </a>
      </div>
      <div class="col u-3/4">
        <p>Par téléphone:</p>
        <p>
          <a href="tel:{{ phone_number }}" data-phone="{{ phone_number }}" title="Par téléphone" class="contact_tel"><strong>{{ page.phone }}</strong></a>
        </p>
      </div>
    </div>
  </div>
  <div class="col m--u-1/2 email">
    <div class="row">
      <div class="col u-1/4 text-center">
        <a href="mailto:{{ page.email }}" title="mailto:{{ page.email }}" class="button-icon">
          <svg class="icon">
            <title>Email</title>
            <use xlink:href="#email_24dp"></use>
          </svg>
        </a>
      </div>
      <div class="col u-3/4">
        <p>Par email:</p>
        <p>
          <a href="mailto:{{ page.email }}" title="mailto:{{ page.email }}" class="contact_mailto"><strong>{{ page.email }}</strong></a>
        </p>
      </div>
    </div>
  </div>
</div>
{% if page.urls.vcf %}
<div class="row">
  <div class="col text-center">
    <a href="{{ page.urls.vcf }}" class="button primary contact_download_vCard">
      <svg class="icon">
        <use xlink:href="#download_24dp"></use>
      </svg> Enregistrer le contact
    </a>
  </div>
</div>
{% endif %}
{% if page.urls.booking %}
<div class="row">
  <div class="col text-center">
    <a href="{{ page.urls.booking }}" class="button secondary">
      <svg class="icon">
        <use xlink:href="#calendar_clock_24dp"></use>
      </svg> Prendre rendez-vous
    </a>
  </div>
</div>
{% endif %}


{% comment %}
<hr />

<h2>Le centre</h2>
<div class="row">
  <div class="col m--u-1/2">
    <p class="small">
    <strong>NOVA Santé Intégrée</strong> rassemble plusieurs thérapeutes aux approches complémentaires,
    afin de proposer un accompagnement global et coordonné.
    </p>
    <p></p>
    <p class="margin-top">
    <a href="/" class="button primary">Découvrir le centre →</a>
    </p>
  </div>
  <div class="col m--u-1/2">
    <p>L'équipe thérapeutique:</p>
    {% include practitioners_list.html %}
  </div>
</div>
{% endcomment %}